<a th:href="@{/enchere}" class="grid grid-cols-2 sm:grid-cols-3  border border-primary p-4 rounded-lg hover:shadow-xl gap-4 items-center text-dark">
    <div class="w-full h-full aspect-square overflow-hidden rounded-lg border border-primary">
        <img src="" alt="image de l'article" class="w-full h-full object-cover" />
    </div>

    <div class="sm:col-span-2 grid grid-cols-2 gap-2 justify-evenly h-full">
        <h4 class="col-span-2 font-bold text-lg text-primary" >Nom de l'article</h4>

        <p>Prix : <span class="text-accent font-semibold"></span></p>
        <p>Classement : <span class="font-medium">2</span></p>

        <p class="col-span-2">Fin de l'enchère : <span class="text-danger font-medium">10/08/2018</span></p>

        <div class="col-span-2 flex gap-1">
            <p class="whitespace-nowrap">Retrait :</p>
            <span>10 allée des alouettes 44800 Saint Herblain</span>
        </div>

        <p class="whitespace-nowrap">Vendeur : <span class="text-primary font-semibold">jojo44</span></p>
    </div>
</a>