<nav class="p-5 bg-primary text-light flex justify-between items-center gap-2 w-full">
    <div>
        <h1 class="text-2xl font-bold">
            <a th:href="@{/}" th:text="#{navbar.title}" class="whitespace-nowrap"></a>
        </h1>
    </div>
    <div class="flex justify-end items-center gap-2 flex-wrap">
        <!-- Language Selector -->
        <div class="flex gap-2">
            <a th:href="@{?lang=fr}" class="hover:font-bold">FR</a>
            <span>|</span>
            <a th:href="@{?lang=en}" class="hover:font-bold">EN</a>
        </div>
        
        <!-- Non connecté -->
        <div sec:authorize="!isAuthenticated()" class="flex gap-3">
            <a th:href="@{/register}" class="hover:font-bold" th:text="#{navbar.register}"></a>
            <a th:href="@{/login}" th:text="#{navbar.login}" class="hover:font-bold"></a>
        </div>

        <!-- Connecté -->
        <div sec:authorize="isAuthenticated()" class="flex gap-3">
            <a th:href="@{/}" class="hover:font-bold" th:text="#{navbar.auctions}"></a>
            <a th:href="@{/articles/new}" th:text="#{navbar.sell}" class="hover:font-bold"></a>
            <a th:href="@{/profil}" th:text="#{navbar.profile}" class="hover:font-bold"></a>
            <!-- Remplacez le lien de déconnexion par un formulaire POST -->
            <form th:action="@{/logout}" method="post" style="display:inline;">
                <button th:text="#{navbar.logout}" type="submit" class="hover:font-bold">
                    Déconnexion
                </button>
            </form>
        </div>
    </div>
</nav>