<head>
    <title>ENI Enchères - se connecter</title>
</head>
<div th:replace="~{base :: layout(~{::title}, ~{::section})}">
  <section class="p-3 mt-5">
    <form action="" class="max-w-md mx-auto grid grid-cols-2 gap-2 items-center">
      <label for="">
        Identifiant :
      </label>
      <input type="text" class="border rounded p-1">
      <label for="">
        Mot de passe :
      </label>
      <input type="text" class="border rounded p-1">
      <button class="bg-primary text-shadow-sm shadow text-light p-3 rounded m-2 font-bold cursor-pointer tracking-widest" type="submit">Connexion</button>
      <div class="grid gap-1 justify-center">
        <label for="">
          <input type="checkbox">
          Se souvenir de moi
        </label>
        <a href="#" class="underline text-center">Mot de passe oublié</a>
      </div>
      <a th:href="@{/register}" class="bg-secondary text-shadow-sm shadow text-light p-3 rounded m-2 font-bold  tracking-widest col-span-2 text-center">Créer un compte</a>
    </form>
  </section>
</div>
